/*  FILE INFORMATION
    -----------------
        Author: America Murray
        Date Created: 07/30/2021
        Title: Layout stylesheet for Google-Homepage

        Description: Part of the 'Google-Homepage' project assignment from the The Odin Project (https://www.theodinproject.com/).  The aim is to make a page that looks like the Google homepage through analyzing the page elemenents via Chrome's Developer Tools.  This stylesheet focuses on setting up the general layout of the page (ex: flexboxes, alignment, positioning).
*/


/*  STYLESHEET
    --------------- 
    Attributes pulled from analyze the computed styles for elements (ignoring styles that come from "user agent stylesheet" since that is a stylesheet applied by the browser itself)
*/

    /* Set height and minimum width for html and body (I left out the margin:0 and padding:0 because it's already included in my reset stylesheet */
    html, body {
        min-width: 400px;
        height: 100%;
    }


    /*  CLASS AND ID BASED STYLES
        ---------------
    */

    #bodyDiv {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    /* FIXME: change class name (currently grabbed from inspecting Google html and css) */
    .o3j99 {
        flex-shrink: 0;
        box-sizing: border-box;
    }

    #topNav {
        height: 60px;
        display:flex;
        align-items: center;
        padding: 6px;
    }

    #logoContainer {
        min-height: 150px;
        max-height: 290px;
        height: calc(100% - 560px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #searchContainer {
        max-height: 160px;
        padding: 20px;
    }

        /* Nested in #searchContainer */
        /* #searchElements corresponds to .A8SBwf class from original Google html/css */
        #searchElements {
            position: relative;
            margin: 0 auto;
            padding-top: 6px;
            width: auto;
            max-width: 584px;
        }

            /* Nested in #searchElements */
            /* #barContainer corresponds to .RNNXgb and .SDkEP classes from original Google html/css */
            #barContainer {
                /* Styles taken from .RNNXgb */
                display: flex;
                z-index: 3;
                height: 44px;
                margin: 0 auto;
                width: auto;
                max-width: 584px;
            }

    #btmSection {
        flex-grow: 1;
    }
    
    





/*  ATTRIBUTIONS
    ----------------

        Other stylesheets I looked at, took inspiration from, or got ideas from:
            Google.com
        
        General information about reset stylesheets:
*/