/*  FILE INFORMATION
    -----------------

        Author: America Murray
        Date Created: 07/30/2021
        Title: Stylesheet for Google-Homepage

        Description: Part of the 'Google-Homepage' project assignment from the The Odin Project (https://www.theodinproject.com/).  The aim is to make a page that looks like the Google homepage through analyzing the page elemenents via Chrome's Developer Tools.
*/



/*  IMPORT
    ---------------- 
    Imports of other stylesheets, fonts, etc. will go here
*/
    /* First import reset stylesheet */
    @import url("reset.css");

    /* Import layout stylesheet */
    @import url("layout.css");




/*  STYLESHEET
    ---------------
*/

    /*  TYPOGRAPHY
        ---------------
    */
        body, input, button {
            font-size: 14px;
            font-family: Roboto, arial, sans-serif;
        }

        /*  CLASS-BASED AND ID BASED STYLES
            ---------------
        */



    /*  COLORS
        ---------------
    */
        body, input, button {
            color: #222;
            background-color: #fff;
        }

        /*  CLASS-BASED AND ID BASED STYLES
            ---------------
        */
        




/*  ATTRIBUTIONS
    ----------------

        Other stylesheets I looked at, took inspiration from, or got ideas from:
            Google.com
        
        General information about reset stylesheets:
*/