/*  FILE INFORMATION
    -----------------

        Author: America Murray
        Date Created: 07/30/2021
        Title: Stylesheet for Google-Homepage

        Description: Part of the 'Google-Homepage' project assignment from the The Odin Project (https://www.theodinproject.com/).  The aim is to make a page that looks like the Google homepage through analyzing the page elemenents via Chrome's Developer Tools.
*/



/*  IMPORT
    ---------------- 
    Imports of other stylesheets, fonts, etc. will go here
*/
    /* First import reset stylesheet */
    @import url("reset.css");

    /* Import layout stylesheet */
    @import url("layout.css");




/*  STYLESHEET
    ---------------
*/

    /*  TYPOGRAPHY AND BORDERS
        ---------------
    */
        body, input, button {
            font-size: 14px;
            font-family: Roboto, arial, sans-serif;
        }

        /*  CLASS-BASED AND ID BASED STYLES
            ---------------
        */
        #barContainer {
            /* Styles taken from .RNNXgb */
            border-width: 1px;
            border-style: solid;
            border-radius: 24px;
        }



    /*  COLORS
        ---------------
    */
        body, input, button {
            color: #222;
            background-color: #fff;
        }

        /*  CLASS-BASED AND ID BASED STYLES
            ---------------
        */
        #barContainer {
            /* Styles taken from .RNNXgb */
            background: #fff;
            border-color: #dfe1e5;
            /* box-shadow color can't be separated from box-shadow property */
            box-shadow: none;
        }

        #barContainer:hover {
            border-color: rgba(223,225,229,0);
            /* box-shadow color can't be separated from box-shadow property */
            box-shadow: 0 1px 6px rgba(32,33,36,.28);
        }

            /* Nested in #barContiner */
            #magIconDiv span {
                color: #9aa0a6;
            }

        #pageFoot {
            background: #f2f2f2;
        }
        




/*  ATTRIBUTIONS
    ----------------

        Other stylesheets I looked at, took inspiration from, or got ideas from:
            Google.com
        
        General information about stylesheets:
*/